@import "abstract/variables";
@import "abstract/mixins";
@import "base/reset";
@import "base/typography";

@import "components/btn";
@import "components/section-title";

@import "components/navbar";
@import "layout/hero";

@import "components/products-card";
@import "layout/products";

@import "components/promo-card";
@import "layout/promo";

@import "components/offers-card";
@import "layout/offers";

@import "layout/footer";
