footer {
  margin-top: 3rem;
  width: 100vw;
  background-color: $primary-color;
  .container {
    .footer-content {
      @include flex(space-between, stretch);
      gap: 3rem;
      @media (max-width: 992px) {
        flex-direction: column;
      }
      .right-side {
        background-color: $secondary-color;
        padding: 2rem;
        flex: 1;
        position: relative;
        .logo {
          @include circle(4rem);
          background-color: $white-color;

          img {
            height: 3.5rem;
          }
        }

        p {
          color: rgba($color: $white-color, $alpha: 0.9);
          line-height: 2;
          margin: 1.5rem 0;
        }

        .taxs {
          @include flex(start, center);
          gap: 1rem;
          margin-top: 8rem;
          @media (max-width: 768px) {
            display: none;
          }
        }

        .buying {
          @include flex(start, center);
          gap: 1rem;
          flex-wrap: wrap;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }

      .left-side {
        flex: 2;
        display: flex;
        flex-direction: column;
        .links {
          @include flex(center, flex-start);
          color: $white-color;
          padding-top: 3rem;
          flex-wrap: wrap;
          @media (max-width: 600px) {
            gap: 2rem;
          }
          h3 {
            margin-bottom: 1rem;
          }
          li {
            color: rgba($color: $white-color, $alpha: 0.72);
            margin: 0.8rem 0;
          }
          .important-links {
            flex: 1;
            min-width: 150px;
          }
          .contact-us {
            flex: 1;
            min-width: 150px;
            li {
              a {
                display: flex;
                gap: 0.5rem;
              }
            }
          }

          .posts {
            flex: 1;
            @media (max-width: 600px) {
              min-width: 90%;
            }
            .email {
              @include flex(center, center);
              position: relative;
              input {
                border: none;
                border-bottom: 1px solid
                  rgba($color: $white-color, $alpha: 0.72);
                background-color: transparent;
                padding: 0.7rem 0;
                font-size: 14px;
                font-family: "Tajawal";
                width: 100%;
                outline: none;
              }
              p {
                position: absolute;
                left: -5px;
                @include flex(center, center);
                color: $secondary-color;
                font-size: 14px;
              }
            }

            .social-media {
              ul {
                @include flex(start, center);
                flex-direction: row-reverse;
                gap: 1.5rem;
                margin-top: 1rem;
              }
            }
          }
        }

        .images {
          @include flex(space-evenly, center);
          margin-top: 4rem;
          gap: 2rem;
          @media (min-width: 1024px) and (max-width: 1269px) {
            flex-direction: column-reverse;
          }
          @media (max-width: 450px) {
            flex-direction: column-reverse;
          }

          .footer-images {
            background-color: $secondary-color;
            padding: 2rem 5rem;
            @media (max-width: 1440px) {
              padding: 2rem;
            }
            @media (max-width: 1270px) {
              padding: 1rem;
            }
            img {
              width: 5rem;
              margin: 0.5rem;
              @media (max-width: 1270px) {
                width: 4rem;
              }
            }
          }
        }
      }

      .mobile-buying {
        display: none;
        color: $white-color;
        padding-bottom: 2rem;
        margin: auto;
        .taxs {
          @include flex(start, center);
          gap: 1rem;
          margin-bottom: 1rem;
        }

        .buying {
          @include flex(start, center);
          gap: 1rem;
          flex-wrap: wrap;
        }
        @media (max-width: 768px) {
          display: block;
        }
      }
    }
  }
}
