.hero-section {
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  background-image: url("../../assets/images/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .red-rectangle {
    width: 37vw;
    height: 50vh;
    background-color: $secondary-color;
  }

  .numbers {
    font-size: 1.2rem;
    position: absolute;
    top: 44%;
    right: 2%;
    color: rgba($color: $white-color, $alpha: 0.48);
    cursor: pointer;
    .active {
      color: $white-color;
    }
    li {
      margin: 0.7rem 0;
    }
  }

  .main-content {
    img {
      width: 50%;
      position: absolute;
      top: 18%;
      left: 43%;
    }

    .data {
      position: absolute;
      left: 18%;
      top: 30%;
      width: 30rem;
      h1 {
        font-size: 4.5rem;
        font-weight: bolder;
        line-height: 1.3;
        color: $white-color;
        span {
          color: transparent;
          -webkit-text-stroke: 1px $primary-color;
        }
      }

      p {
        color: $white-color;
        font-size: 1.5rem;
        width: 60%;
        font-weight: 400;
        margin: 1.5rem 7rem 1.5rem 0;
      }

      button {
        position: relative;
        left: -7rem;
        background-color: transparent;
        border: 1px solid $white-color;
        color: $white-color;
        padding: 0.5rem 2.5rem;
        font-size: 1.2rem;
        font-family: "Tajawal";
      }
    }
  }

  .red-rectangle-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20vw;
    height: 45vh;
    background-color: $secondary-color;
  }
}
