.product-card {
  .product-image {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    .overlay {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: opacity 0.2s ease;

      .overlay-image img.overlay-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.5s ease;
      }

      .overlay-heart {
        position: absolute;
        top: -50px;
        right: 8px;
        @include circle(2.5rem);
        background-color: rgba($color: $primary-color, $alpha: 0.4);
        transition: top 0.5s ease;

        .heart-icon {
          width: 1.2rem;
        }
      }

      .overlay-buttons {
        @include flex(space-between, center);
        color: $white-color;
        width: 100%;
        position: absolute;
        bottom: 0;

        .add-to-cart {
          flex: 1;
          background-color: $primary-color;
          padding: 1rem 0;
          @include flex(center, center);
          gap: 0.5rem;
          transform: translateY(50px);
          opacity: 0;
          transition: transform 0.5s ease, opacity 0.5s ease;

          img {
            width: 1.2rem;
          }
        }

        .view-product {
          flex: 1;
          background-color: $secondary-color;
          padding: 1rem 0;
          @include flex(center, center);
          gap: 0.5rem;
          bottom: 0;
          transform: translateY(50px);
          opacity: 0;
          transition: transform 0.5s ease 0.3s, opacity 0.5s ease 0.3s;

          img {
            width: 1.2rem;
          }
        }
      }
    }
    &:hover {
      .overlay {
        opacity: 1;

        .overlay-image img.overlay-img {
          transform: scale(1.1);
        }

        .overlay-heart {
          top: 15px;
        }

        .add-to-cart {
          transform: translateY(0);
          opacity: 1;
        }

        .view-product {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  .product-data {
    .cat {
      @include flex(space-between, center);
      margin-top: 1rem;
      font-weight: bold;
      .name {
        color: $primary-color;
      }
      .price {
        color: $secondary-color;
      }
    }

    .line {
      width: 100%;
      height: 1px;
      margin: 0.6rem 0;
      background-color: rgba($color: $primary-color, $alpha: 0.2);
    }

    .rate {
      @include flex(space-between, center);
      p {
        font-weight: 400;
        color: $primary-color;
      }

      .stars {
        img {
          width: 0.8rem;
        }
      }
    }
  }
}

@media (min-width: 993px) and (max-width: 1080px) {
  .overlay {
    .overlay-buttons {
      img {
        width: 1rem !important;
      }
      p {
        font-size: 14px !important;
      }
    }
  }
}
