.item {
  position: relative;
  overflow: hidden;

  .promo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  &:hover .promo-image {
    transform: scale(1.6);
  }

  .content {
    @include flex(center, center);
    flex-direction: column;
    text-align: center;
    color: white;
    height: 100%;
    padding: 20px;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      margin: 1rem 0;
      width: 80%;
    }
  }

  .data {
    position: absolute;
    left: 40px;
    bottom: -100%;
    width: 80%;
    background: $white-color;
    @include flex(center, center);
    gap: 1rem;
    transition: bottom 0.4s ease;
    .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .price-and-rate {
      .cat {
        color: rgba($color: $primary-color, $alpha: 0.69);
        font-size: 12px;
      }
      h3 {
        color: $primary-color;
        font-weight: bold;
        font-size: 14px;
      }
      .price-div {
        @include flex(center, center);
        gap: 0.5rem;

        .price {
          color: $secondary-color;
          font-weight: bold;
        }
        .instead-of,
        .offer {
          color: #b7b7b7;
          font-size: 12px;
        }
        .offer {
          text-decoration: line-through;
        }
      }

      .stars {
        margin-top: 0.5rem;
        img {
          width: 1rem;
        }
      }
    }
  }
  &:hover .data {
    bottom: 25px;
  }
}

.item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: $primary-color;
}
.item-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.item-3 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.item-4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.item-5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: $secondary-color;
}

@media (min-width: 768px) and (max-width: 1080px) {
  .item {
    .data {
      left: 30px !important;
      .price-and-rate {
        .price-div {
          font-size: 10px;
          gap: 0.2rem !important;
        }
        .stars {
          img {
            width: 0.7rem;
          }
        }
      }
    }
  }
}
