* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  direction: rtl;
  background-color: $white-color;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
