$primary-color: #0c1944;
$secondary-color: #e43a19;
$light-gray: #f2f4f7;
$white-color: #ffffff;
$black-color: #000000;

$font-family: "Tajawal";

$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;

$shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 40px rgba(0, 0, 0, 0.15);
